<!doctype html>
<html class="sg">
	<head>
		<meta charset="utf-8">
		<title>Styledown-v2.0</title>
		<link rel="stylesheet" href="https://www.wetravel.com/assets/design_v2/design_v2.9f0f4157c8.css">
		<link rel="stylesheet" href="/assets/dist/custom.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/monokai.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"> 
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script>hljs.initHighlightingOnLoad();</script>
	</head>
	<body class="sg">
		<section> 
				<div class="react_navbar_menu"></div> 
			<div class="wt-container">
				<div class="wt-row">
					<div class="wt-col-xs-12">
						<%= yield %>
					</div>
				</div>
			</div>
		</section>
		<script src="assets/dist/bundle.js"></script>
	</body>
</html>